#set($inputRoot = $input.path('$'))
#set($errorType = $util.getMetadata($inputRoot, "errorType"))
#if($errorType != "")
    #set($context.responseOverride.status = 400)
    #if($errorType = "GameException")
        {
            "errorMessage": "$inputRoot.errorMessage",
            "errorType": "$inputRoot.errorType"
        }
    #else
        $input.json('$')
    #end
#else
    $input.json('$')
#end