#set($inputRoot = $input.path('$'))
#if($inputRoot.errorType)
#set($context.responseOverride.status = 400)
#if("$!{inputRoot.errorType}" == "GameException")
$inputRoot.errorMessage
#elseif("$!{inputRoot.errorType}" == "RateException")
$inputRoot.errorMessage
#else
$input.json('$')
#end
#else
$input.json('$')
#end